<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}
  
  <!-- bower:css -->
  <!-- endbower -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=menu" />

  <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css">
  
  <!-- Icons -->
  <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon">

</head>
